@import url(./loadFonts.css);
@import url(./mouseDot.css);

:root {
  --mouseHover-transition: 0.5s;
}

htlm,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #252525;
}

.containerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.button {
  margin: 5px;
  background-color: #654321;
  width: 400px;
  height: 100px;
  display: block;
  border-radius: 20px;
  border: none;
  color: #f79101;
  font-style: italic;
  font-family: "The Seasons", sans-serif;
  font-size: 70px;
  cursor: none;
}
